.App {
  font-family: Arial, sans-serif;
  margin: 20px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  color: white;
  background-color: blue;
  cursor: pointer;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 2px solid;
  padding: 8px;
  text-align: center;
}

th {
  background-color: white;
}

label {
  margin: 10px 0;
  font-weight: bold;
}

label input {
  width: 100%;
}
